.container.pull-lower
	.row
		.col-md-6.col-sm-6.col-xs-6
			= link_to 'Back', root_path
	.row
		.col-md-6.col-sm-6.col-xs-6
			= search_form_for @q do |f|
				= f.search_field :name_cont, placeholder: 'Enter Name'
				= f.submit 'Search', :class => 'btn btn-primary spaced-button'

.container
	table.table
		thead
			tr
				th = sort_link(@q, :name)
				th = sort_link(@q, :date)
				th = sort_link(@q, :number)
				th scope='col' Description
		tbody
			- @users.each do |user|
				tr
					th scope='row' 
						=user.name
					td 
						= user.date
					td 
						= user.number
					td 
						= user.description

