.container.pull-lower
	.row
		.column-in-center
			h1 CSV Parser
.container.pull-lower
	.row
		.column-in-center
			= form_tag import_csv_data_path, multipart: true, method: :post do
				= file_field_tag :file, :id => 'upload-file-button'
				= submit_tag "Import", :class => 'btn btn-primary', :id => 'import-file-button', disabled: true
	.row.pull-lower
		.column-in-center
			- if User.all.present?
				= link_to 'View List', users_path, :class => 'btn btn-primary'



