/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
@import "bootstrap";


.column-in-center{
	float: none;
	margin: 0 auto;
}

.pull-lower{
	margin-top: 5%;
}

.spaced-button {
	margin-left: 2%;
	margin-bottom: 1%;
}

.alert-error {
	background: #FF0000;
}

.alert-success {
	background: #01FE88;
}